/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282C34FF;
    background-alt: #282C34FF;
    foreground:     #F5F5F5FF;
    selected:       #61AFEFFF;
    active:         #98C379FF;
    urgent:         #C678DDFF;
}
